Library/
XlsxUnity3D.v12.suo
XlsxUnity3D.CSharp.Editor.csproj
XlsxUnity3D.CSharp.csproj
XlsxUnity3D.sln
Temp/
.vs/XlsxUnity3D/v15/.suo
UpgradeLog.htm
XlsxUnity3D.Editor.csproj
XlsxUnity3D.csproj
.vs/
XlsxUnity3D-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
obj/
